<% title 'Volunteers' %>
<div class="container">
    <h2 class="text-center">Volunteers</h2>
    <% @volunteers.each do |volunteer| %>
    <div class="volunteer-card col-xs-6 col-sm-4">
      <h4 class="text-center"> <%= volunteer.first_name %> <%= volunteer.last_name %> </h4>
      <div class="user-info text-center">
        <p> User: <%= volunteer.username %> | <%= volunteer.email %> </p>
        <p><%= volunteer.phone %> </p>
      </div>
      <% unless volunteer.proficiencies.empty? %>
        <div class="proficiency">
          <p class="av teacher-av">T</p>
          <% volunteer.proficiencies.each do |proficiency| %>
            <% if proficiency.role == "teacher" %>
              <%= link_to proficiency_path(proficiency), method: :delete, data: { confirm: "Are you sureyou wish to delete this proficiency?"} do %><p>  <%= proficiency.subject.name %><% end %> | </p>
              <% end %>
            <% end %>
         </div>
      <% end %>
      <% unless volunteer.proficiencies.empty? %>
        <div class="proficiency">
          <p class="av assistant-av">A</p>
          <% volunteer.proficiencies.each do |proficiency| %>
            <% if proficiency.role == "assistant" %><p>
              <%= link_to proficiency_path(proficiency), method: :delete, data: { confirm: "Are you sure you wish to delete this proficiency?"} do %> <%= proficiency.subject.name %><% end %> | </p>
              <% end %>
            <% end %>
        </div>
      <% end %>
      <button type="button" data-volunteer="<% %>" data-toggle="modal" data-target="#proficiencyModal-<%= volunteer.id  %>" class="volunteer-button btn-sm brand-primary btn-primary">Add Proficiencies</button>
</div>




















<!--       This is the modal for the proficiencies -->
  <div class="modal fade" id="proficiencyModal-<%= volunteer.id  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel"> Add a proficiency</h4>
        </div>
        <!-- TODO: Rewrite that forms gets prefilled upon click -->
        <div class="modal-body">
            <%= simple_form_for([volunteer, @proficiency], url: volunteer_proficiencies_path(volunteer)) do |f| %>
              <%= f.input :subject_id, collection: @subjects, label_method: :name %>
              <%= f.input :role, as: :select, collection: @roles %>
              <%= f.button :submit, class: "btn-sm btn-primary brand-primary" %>
            <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<% end %>


