<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="active" role="tab" data-toggle="tab">All Active (<%= @courses.count %>)</a></li>
    <li role="presentation"><a href="#profile" aria-controls="teacher" role="tab" data-toggle="tab">Without Teachers (<%= @no_teacher.count %>)</a></li>
    <li role="presentation"><a href="#messages" aria-controls="below_cap" role="tab" data-toggle="tab">Below Capacity  (<%= @below_cap.count %>)</a></li>
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="active">
      <%= render 'shared/course_list', courses: @courses %>
    </div>
    <div role="tabpanel" class="tab-pane" id="teacher">
      <%= render 'shared/course_list', courses: @no_teacher %>
    </div>
    <div role="tabpanel" class="tab-pane" id="below_cap">
      <%= render 'shared/course_list', courses: @below_cap %>
    </div>
  </div>


