<% title 'Home' %>
<main>
<%= render 'shared/dashboard_tabs' %>

   <!--    courses section  -->
  <section id="content1">
    <%= render 'courses' %>
  </section>


 <!--       students section -->

  <section id="content2">
  <%= render 'students' %>
  </section>


    <!--       Volunteers section  -->

  <section id="content3">
    <%= render 'volunteers' %>
  </section>

<!--
            Attendance section  -->

  <section id="content4">
    <%= render 'attendance' %>
  </section>

</main>
