<%= javascript_pack_tag "charts" %>

<div class="dashboard-head">
  <%= render 'charts/totals', total_title: 'Total Attendance', total_content: @total_attendance %>
  <%= render 'charts/totals', total_title: 'Courses', total_content: @courses.count  %>
  <%= render 'charts/totals', total_title: 'Students', total_content: @students.count  %>
  <%= render 'charts/totals', total_title: 'Volunteers', total_content: @volunteers %>

</div>


  <div class="dashboard-column left">
    <div class="charts-data">
       <div class="student-data">
        <h3 class=" text-center">Students by Gender and Age</h3>
        <div class=" charts">

          <%= render 'charts/students_by_gender', data: @students_by_gender %>
          <%= render 'charts/students_by_age', data: @students_by_age %>

        </div>
       </div>
      <div class="student-data">
        <h3 class="text-center">Total Attendance</h3>
        <div class="attendance charts">
          <%= render 'charts/active_attendance', data: @active_attendance %>
        </div>
      </div>
      <div class="student-data">
        <h3 class="text-center">Volunteers by Proficiency</h3>
        <div class="volunteer charts">
           <%= render 'charts/volunteers_by_subject', data: @volunteers_by_subject %>
        </div>
      </div>
        <div class="student-data">
          <h3 class="text-center">Courses by Subject</h3>
          <div class="course charts">
            <%= render 'charts/courses_by_subject', data: @courses_by_subject %>
          </div>
        </div>
    </div>

  </div>

</div>



