<div class="courses-list">
  <% courses.each do |course|%>
    <div class="col-xs-12 col-md-6">
      <%= link_to course_path(course), class: 'text-black' do %>
        <div class="course-card <%= course.pending? ? 'pending' : 'confirmed' %>" data-course-id="<%= course.id %>" >
          <div class="course-info">
            <div class="course-list-header">
              <h3><%= course.name %></h3>
            </div>
            <div class="course-list-secondary">
              <p class="no-margin-bottom"><%= course.subject.name.upcase %></p>
            </div>
            <p class="no-margin-bottom"><%= course.date_formatted(course.start_date) %> - <%= course.date_formatted(course.end_date) %></p>
          </div>
          <div class="volunteers">
            <div class="volunteer-section">
              <div class="av teacher-av"><p>T</p></div>
              <% unless course.teacher.blank? %>
                <p class="v-name no-margin-bottom"><%= "#{course.teacher.first_name} #{course.teacher.last_name}" %></p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
            <div class="volunteer-section">
              <div class="av assistant-av tool-tip-inner" data-toggle="tooltip" data-html="true" data-placement="top" title="<%= course.assistants.map { |assistant| "#{assistant.first_name} #{assistant.last_name}" }.join(' ') %>"><p>A</p></div>
              <% unless course.assistants.empty? %>
                <!-- <p class="v-name no-margin-bottom"><%#= "#{assistant.first_name} #{assistant.last_name}" %></p> -->
                <p class="v-name no-margin-bottom">( <%= course.assistants.size %> )</p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
            <div class="volunteer-section">
              <div class="av student-av"><p>S</p></div>
              <% unless course.students.empty? %>
                <!-- <p class="v-name no-margin-bottom"><%#= "#{assistant.first_name} #{assistant.last_name}" %></p> -->
                <p class="v-name no-margin-bottom">( <%= course.students.size %> / <%= course.max_capacity %> )</p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
          </div>

          <div class="location-container">
            <div class='location'>
              <i class="fas fa-map-marker-alt"> </i>
              <p class="no-margin-bottom">
                <%= course.address.venue_name.upcase %>
              </p>
            </div>

            <div class="action-icons">
              <%#= link_to course_student_rosters_path(course) do %>
                <i class="fas fa-users" id="add-user"></i>
              <%# end %>
              <%#= link_to new_course_volunteer_roster_path(course) do %>
                <i class="fas fa-users" id="add-volunteer"></i>
              <%# end %>
            </div>


          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
    <%#= link_to edit_course_path(course) do %>
            <!-- <i class="far fa-edit"></i> -->
          <%# end %>
          <%#= link_to course_path(course), method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this course?'} do %>
            <!-- <i class="far fa-trash-alt"></i> -->
          <%# end %>

      <!-- <div class="btn btn-add-students">

      </div> -->
