<div class="courses-list">
  <% @courses.each do |course|%>
    <div class="course-card" >
      <%= link_to course_path(course) do %>
      <h2 class="text-center"><%= course.subject.name %></h2>
      <p><%= course.start_date %> <span> <%= course.end_date %></span></p>
      <p>
        <%= course.number_of_students %> <span>- (<%= course.max_capacity %>)</span>
      </p>
      <p><%= course.address.venue_name %></p>
      <p class="italic"><%= course.status %></p>
      <%end %>
      <hr>
    </div>
  <% end %>
</div>
