<div class="courses-list">
  <% courses.each do |course|%>
    <div class="col-xs-12 col-md-6">
      <div class="course-card <%= course.pending? ? 'pending' : 'confirmed' %>" data-course-id="<%= course.id %>" >
        <div class="card-content">
          <div class="course-info">
            <!-- course header -->
            <div class="course-list-header">
              <h3 class="card-course-title"><%= course.name %></h3>
            </div>
            <div class="capital-gray">
              <p class="no-margin-bottom"><%= course.subject.name.upcase %></p>
            </div>
            <p class="course-date no-margin-bottom"><%= course.date_formatted(course.start_date) %> - <%= course.date_formatted(course.end_date) %></p>
          </div>
          <!-- volunteers -->
          <div class="volunteers">
            <!-- teachers -->
            <div class="volunteer-section">
              <div class="av teacher-av"><p class="no-margin-bottom">T</p></div>
              <% unless course.teacher.blank? %>
                <p class="v-name no-margin-bottom"><%= "#{course.teacher.first_name} #{course.teacher.last_name}" %></p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
            <!-- assistants -->
            <div class="volunteer-section">
              <div class="av assistant-av tool-tip-inner" data-toggle="tooltip" data-html="true" data-placement="top" title="<%= course.assistants.sort_by { |a| a.first_name }.map { |assistant| "#{assistant.first_name} #{assistant.last_name}" }.join("\n") %>">
                <p class="no-margin-bottom">A</p>
              </div>
              <% unless course.assistants.empty? %>
                <p class="v-name no-margin-bottom">( <%= course.assistants.size %> )</p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
            <!-- students -->
            <div class="volunteer-section">
              <div class="av student-av"><p class="no-margin-bottom">S</p></div>
              <% unless course.students.empty? %>
                <p class="v-name no-margin-bottom">( <%= course.students.size %> / <%= course.max_capacity %> )</p>
              <% else %>
                <p class="v-name no-margin-bottom">None</p>
              <% end %>
            </div>
          </div>
          <!-- venue -->
          <div class="location-container">
            <div class='location'>
              <i class="fas fa-map-marker-alt"> </i>
              <p class="no-margin-bottom">
                <%= course.address.venue_name.upcase %>
              </p>
            </div>
            <!-- navigation icons -->
            <div class="action-icons">
              <%= link_to new_course_volunteer_roster_path(course) do %>
                <div class="view-course" id="add-user" data-toggle="tooltip" data-html="true" data-placement="left" title="View More Details">
                  <%= render :partial => 'shared/teacher.svg' %>
                </div>
              <% end %>
              <%= link_to course_student_rosters_path(course) do %>
                <div class="assign-student" id="add-user" data-toggle="tooltip" data-html="true" data-placement="left" title="Assign Students">
                  <%= render :partial => 'shared/student.svg' %>

                </div>
               <!--  <i class="fas fa-users" id="add-user" data-toggle="tooltip" data-html="true" data-placement="left" title="Assign Students"></i> -->
              <% end %>
              <%= link_to course_path(course) do %>
                <div class="assign-volunteer" id="add-volunteer" data-toggle="tooltip" data-html="true" data-placement="left" title="Assign Volunteers">

                  <%= render :partial => 'shared/calendar.svg' %>
                </div>
                <!-- <i class="fas fa-chalkboard-teacher" id="add-volunteer" data-toggle="tooltip" data-html="true" data-placement="left" title="Assign Volunteers"></i> -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

