<div class="courses-list">
  <div class="col-md-3">
    <% @courses.each do |course|%>
    <%# link_to course_path(course) do %>
      <div class="course-card" >
        <h3 ><%= course.subject.name %></h3>
        <p><%= course.start_date %> <span> <%= course.end_date %></span></p>
        <p>
          <%= course.number_of_students %> <span>- (<%= course.max_capacity %>)</span>
        </p>
        <p><%= course.address.venue_name %></p>
        <p class="italic"><%= course.status %></p>
        <hr>
      </div>
    <% end %>
    <%# end %>
  </div>
</div>
