<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="close-btn">&times;</a>
  <div class="nav-button">
    <%= link_to home_path do %>

      <%#= image_tag 'content-design.svg', class: "svg" %>
      <%= render :partial => 'shared/content-design.svg' %>
      <p>Dashboard</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= link_to courses_path do %>
      <%= render :partial => 'shared/courses.svg' %>
      <p>Courses</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= link_to volunteers_path do %>

      <%= render :partial => 'shared/teacher.svg' %>

      <p>Teachers</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= link_to students_path do %>

      <%= render :partial => 'shared/student.svg' %>

      <p>Students</p>
      <% end %>
  </div>
  <div class="nav-button">
    <% if !current_user.nil? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <p>Logout</p>
        <% end %>
      <% end %>
  </div>
</div>

<span id="nav-btn" style="font-size:30px;cursor:pointer" >&#9776;</span>
