<div id="mySidenav" class="sidenav">

  <div class="nav-button">
    <%= active_link_to home_path, active: :exclusive do %>

      <%#= image_tag 'content-design.svg', class: "svg" %>
      <%= render :partial => 'shared/content-design.svg' %>
      <p>Dashboard</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= active_link_to courses_path do %>
      <%= render :partial => 'shared/courses.svg' %>
      <p>Courses</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= active_link_to volunteers_path do %>

      <%= render :partial => 'shared/teacher.svg' %>

      <p>Teachers</p>
      <% end %>
  </div>
  <div class="nav-button">
    <%= active_link_to students_path do %>

      <%= render :partial => 'shared/student.svg' %>

      <p>Students</p>
      <% end %>
  </div>
  <div class="nav-button">
    <% if !current_user.nil? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <p>Logout</p>
        <% end %>
      <% end %>
  </div>
</div>


