<div class="col-xs-2 student_index">
  <% students.each do |student| %>
    <div class="dashboard_card <%= student.male? ? 'male' : 'female' %>" data-student="<%= student.id %>"  id="<%= student.id %>">
      <h5 class="text-center" style="padding:5px"><%= student.first_name %> <%= student.last_name %> <strong> <%= student.attendance_percentage %> %</strong> </h5>

      <span class="age-gender"><i class="fas <%= student.male? ? 'fa-male' : 'fa-female' %>"></i><p><%= student.age(student.birth_date) %></p></span>
      <p><%= student.phone %></p>
      <p><%= student.email %></p>
    </div>
  <% end %>
</div>
