<% title 'Assign Volunteers' %>
<div class="container">
<h1 class='text-center'> Assign Volunteers to <%= @course.name %> </h1>
<p class='text-center'><%= @course.start_date %> - <%= @course.end_date %> | <%= @course.address.venue_name %> </p>
<div class="vol-roster-container">
  <br>

  <div class="volunteer-lookup">
    <h2>1. Check Availability</h2>
    <%= simple_form_for(@course, url: new_course_volunteer_roster_path(@course), method: :get) do |f| %>
      <div class="form-inline">
        <%= select_tag :volunteer, options_for_select(@volunteers.collect{ |u| [u.full_name, u.id] }), prompt: "Select volunteer", class: "form-control" %>
        <%= f.button :submit, "Check Schedule", class: "btn btn-primary brand-primary" %>
      </div>
    <% end %>

    <ul>
     <%  if !@vol_courses.nil? %>
      <% @vol_courses.each do |roster| %>
        <li> <%= roster.course.name %> (<%= roster.course.start_date %> - <%= roster.course.end_date %>) </li>
        <% end %>
    </ul>
    <% end %>
  </div>


  <div class="assign-form">
    <h2>2. Assign Volunteers</h2>
    <br>
    <%= simple_form_for([@course, @roster]) do |f| %>
      <div class="form-inline">
        <%= f.input :user_id, collection: @teachers, label_method: :full_name, label: false, placeholder: "Teacher" %>
        <%= f.input :role, input_html: { value: "teacher" }, as: :hidden %>
        <%= f.button :submit, "Add Teacher", class: "btn btn-primary brand-primary" %>
      </div>
    <% end %>
    <br>

    <%= simple_form_for([@course, @roster]) do |f| %>
      <div class="form-inline">
        <%= f.input :user_id, collection: @assistants, label_method: :full_name, label: false, placeholder: "Assistant" %>
        <%= f.input :role, input_html: { value: "assistant" }, as: :hidden %>
        <%= f.button :submit, "Add Assistant", class: "btn btn-primary brand-primary" %>
      </div>
    <% end %>
    <br>
  </div>

  <div class="display-roster">
    <h2>3. Assigned Volunteers </h2>
    <br>
    <h3>Teachers</h3>
    <ul>
      <% @course.volunteer_rosters.each do |roster| %>
        <% if roster.role == "teacher" %>
          <li> <%= roster.user.full_name %> <%= link_to volunteer_roster_path(roster), method: :delete, data: { confirm: "Are you sure?"} do %><i class="far fa-trash-alt"></i> <% end %></li>
          <% end %>
        <% end %>
    </ul>
    <br>

    <h3>Assistants</h3>
    <ul>
      <% @course.volunteer_rosters.each do |roster| %>
        <% if roster.role == "assistant" %>
          <li> <%= roster.user.full_name  %> <%= link_to volunteer_roster_path(roster), method: :delete, data: { confirm: "Are you sure?"} do %><i class="far fa-trash-alt"></i> <% end %></li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>
</div>
