<div class="attendance-table">
  <div class="attendance-sessions">
    <div class="placeholder">

    </div>
    <% sessions.each do |session| %>
      <div class="session-header">
        <span><%= session.date_formatted %></span>
      </div>
    <% end %>
  </div>
 <% students.each do |student| %>
    <div class="attendance-row">
      <div class="attendance-student border-right">
        <p class="attendance-header-text"><%= "#{student.first_name} #{student.last_name}" %></p>
        <i class="fas fa-address-card"></i>
      </div>
      <div class="attendance-session">
        <% student.student_attendance(course).each do |attendance| %>
          <div class="attendance <%= attendance.present? ? 'present' : 'absent' %>" data-attendance="<%= attendance.id %>" data-course="<%= course.id %>">
           </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
