<div class="course-header border-bottom">
  <div class="course-title">
    <h1><%= course.name %></h1>
  </div>
  <div class="number-of-students">
    <p><%= @course.number_of_students %> (<%= @course.max_capacity %>)</p>
  </div>
  <%= render 'shared/dropdown', courses: courses %>

  <div class="course-status">
    <p class="<%= course.pending? ? 'pending' : 'confirmed' %>">
      <%= course.pending? ? 'Pending' : 'Confirmed' %>
    </p>
  </div>
  <div class="add-user">
    <div class="icon">
      <%= link_to course_student_rosters_path(@course) do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <span>Add User</span>
  </div>
  <div class="add-volunteer">
    <%= link_to new_course_volunteer_roster_path(@course), class: 'icon' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <span>Add Volunteer</span>
  </div>
</div>
