<div class="course-header ">

  <div class="card-content">
    <div class="course-info">
      <!-- course header -->
      <div class="course-list-header">
        <h1><%= course.name %></h1>
      </div>
      <div class="capital-gray">
        <h2 class="no-margin-bottom"><%= course.subject.name.upcase %></h2>
      </div>
      <p class="no-margin-bottom"> <%= @course.start_date.strftime('%a %d %b') %> - <%= @course.end_date.strftime('%a %d %b') %>, <%= @course.start_date.strftime('%l:%M %p') %> - <%= @course.end_date.strftime('%l:%M %p') %></p>
    </div>
  </div>
    <div class='location-box-course-header'>
      <h3> <i class="fas fa-map-marker-alt" style="padding-right: 8px;"> </i><%= course.address.venue_name.upcase %> </h3>
    </div>



  <!-- //  COURSE SPECIFIC NAV ICONS // -->
  <div class="course-nav-bar">
    <div class="course-nav-view">
    </div>
    <div class="course-nav-icons-group">
      <%= active_link_to new_course_volunteer_roster_path(@course) do %>
        <div class="course-nav-icon">
        <%= render :partial => 'shared/teacher.svg' %>
        <p>Assign Teachers</p>
        </div>
      <% end %>
      <%= active_link_to course_student_rosters_path(@course) do %>
        <div class="course-nav-icon">
        <%= render :partial => 'shared/student.svg' %>
        <p>Register Students</p>
        </div>
      <% end %>
      <%= active_link_to course_path(@course), active: :exclusive do %>
        <div class="course-nav-icon">
        <%= render :partial => 'shared/calendar.svg' %>
        <p>Attendance</p>
        </div>
      <% end %>
    </div>
  </div>
</div>


