<div class="filter-form">
  <%= form_tag '/courses', method: 'get', remote: true, :id => 'filter' do %>
    <!-- venues -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">LOCATIONS</p>
      </div>
      <% @venues.each do |venue| %>
        <div class="element">
          <%= check_box_tag "address[#{venue[0]}]", 1, false, class: 'address-filter checkbox' %>
          <span class="filter"></span>
          <%= label_tag "address[#{venue[0]}]", venue[0], class: 'no-margin-bottom' %>
        </div>
      <% end %>
    </div>
    <!-- subjects -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">SUBJECTS</p>
      </div>
      <% @subjects.each do |subject| %>
        <div class="element">
          <%= check_box_tag "subjects[#{subject[0]}]", 1, false, class: 'subject-filter checkbox' %>
          <span class="filter"></span>
          <%= label_tag "subjects[#{subject[0]}]", subject[0], class: 'no-margin-bottom' %>
        </div>
      <% end %>
    </div>
    <!-- phases -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">PHASES</p>
      </div>
      <div class="element">
        <%= check_box_tag "current", 1, false, class: 'current-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'current', 'Current', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "future", 1, false, class: 'future-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'future', 'Future', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "past", 1, false, class: 'past-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'past', 'Past', class: 'no-margin-bottom' %>
      </div>
    </div>
    <!-- status -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">STATUS</p>
      </div>
      <div class="element">
        <%= check_box_tag "status[pending]", 1, false, class: 'pending-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'status[pending]', 'Pending', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "status[confirmed]", 1, false, class: 'confirmed-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'status[confirmed]', 'Confirmed', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "status[cancelled]", 1, false, class: 'cancelled-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'status[cancelled]', 'Cancelled', class: 'no-margin-bottom' %>
      </div>
    </div>
    <!-- misc filters -->
    <div class="filter-container">
      <div class="filter-header">
        <p class="capital-gray">MISCELLANEOUS</p>
      </div>
      <div class="element">
        <%= check_box_tag "no_teacher", 1, false, class: 'no-teacher-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'no_teacher', 'No Teacher', class: 'no-margin-bottom' %>
      </div>
      <div class="element">
        <%= check_box_tag "no_assistants", 1, false, class: 'no-assistants-filter checkbox' %>
        <span class="filter"></span>
        <%= label_tag 'no_assistants', 'No Assistants', class: 'no-margin-bottom' %>
      </div>
    </div>
    <%= submit_tag 'submit', :id => 'submit' %>
  <% end %>
</div>
