<div class="form-container">
  <%= simple_form_for(course) do |f| %>
    <%= f.input :name, label: false, placeholder: 'Enter course name', autofocus: true %>
    <%= f.input :subject_id, collection: subjects %>
    <%= f.input :address_id, collection: addresses %>
    <!-- pass in as :start_date, but parse into start_date and :end_date in controller -->
    <%= f.input :start_date, required: true, label: 'Date Range', as: :string %>
    <%= f.input :frequency, as: :radio_buttons, collection: Course.frequencies.keys %>
    <%= f.input :min_capacity, label: false, placeholder: 'Enter minimum class capacity' %>
    <%= f.input :max_capacity, label: false, placeholder: 'Enter maximum class capacity' %>
    <%= f.input :session_length, label: false, placeholder: 'Enter the class duration' %>
    <%= f.input :notes, label: false, placeholder: 'Enter a class note' %>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.button :submit, "Create Course", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
