<h1>Course ID <%= @course.id %> : <%= @course.subject.name %></h1>

<h2>Volunteers</h2>
<h3>Teachers</h3>
<ul>
  <% @course.volunteer_rosters.each do |roster| %>
    <% if roster.role == "teacher" %>
      <li> <%= roster.user.first_name %> <%= roster.user.last_name %> <%= link_to volunteer_roster_path(roster), method: :delete, data: { confirm: "Are you sure?"} do %><i class="far fa-trash-alt"></i> <% end %></li>
      <% end %>
    <% end %>
</ul>
<h3>Assistants</h3>
<ul>
  <% @course.volunteer_rosters.each do |roster| %>
    <% if roster.role == "assistant" %>
      <li> <%= roster.user.first_name  %> <%= roster.user.last_name  %> <%= link_to volunteer_roster_path(roster), method: :delete, data: { confirm: "Are you sure?"} do %><i class="far fa-trash-alt"></i> <% end %></li>
      <% end %>
    <% end %>
</ul>
<br>
  <%= link_to 'Assign Volunteers', new_course_volunteer_roster_path(@course) %>
<hr>
<h2>Students</h2>


