<!-- Here are all of the students to choose from. Need to set a method in controller so we can order the students based on availability, or age, or locations, or whatever. Something for phase 2 or phase 3 -->
<div class="students">
  <div class="col-xs-2">
  <% students.each do |student| %>
      <% if student.gender == 'male' %>
        <div class="student_card male">
          <h5 class="text-center" style="padding:5px"><%= student.first_name %> <%= student.last_name %></h5>

          <span class="age-gender"><i class="fas fa-male"></i><p><%= student.age(student.birth_date) %></p></span>
        </div>
      <% else %>
        <div class="student_card female">
          <h5 class="text-center" style="padding:5px"><%= student.first_name %> <%= student.last_name %></h5>
          <span class="age-gender"><i class="fas fa-female"></i><p><%= student.age(student.birth_date) %></p></span>
        </div>
      <% end %>
  <% end %>
  </div>
</div>

<!-- This is the area for the student roster.  -->
<div class="student-roster">
  <h1><%#= @course.subject.name %></h1>
  <hr>
  <p>Add Students Here</p>
</div>
