<!-- Here are all of the students to choose from. Need to set a method in controller so we can order the students based on availability, or age, or locations, or whatever. Something for phase 2 or phase 3 -->
<div class="col-xs-2 students">
  <% students.each do |student| %>
    <div draggable="true" class="student_card <%= student.male? ? 'male' : 'female' %>" data-student="<%= student.id %>" data-course="1">
      <h5 class="text-center" style="padding:5px"><%= student.first_name %> <%= student.last_name %></h5>

      <span class="age-gender"><i class="fas <%= student.male? ? 'fa-male' : 'fa-female' %>"></i><p><%= student.age(student.birth_date) %></p></span>
    </div>
  <% end %>
</div>

<!-- This is the area for the student roster.  -->

