<%= title 'Assign Students' %>
<div class="assigned-students scroll-vertical">
  <% @course.students.each do |student| %>
    <div draggable="true" class="assigned student_card <%= student.male? ? 'male' : 'female' %>" data-student="<%= student.id %>" id="<%= student.id %>">
      <div class="student_name">
        <h4> <%= student.first_name %> <%= student.last_name %></h4></div>

          <div id="age-gender"><p><i class="fas <%= student.male? ? 'fa-male' : 'fa-female' %>" style="padding: 0px 5px 0px 5px">  </i>      <%= student.age(student.birth_date) %>  <%= link_to student_roster_path(student.student_rosters.ids), method: :delete, confirm: "Are you sure you wish to delete this course?" do %><i class="fas fa-trash-alt trash-link"></i></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div ID="flashes"></div>
