  <!-- COURSE_HEADER PARTIAL -->
  <%= render 'courses/course_header', course: @course %>

  <!-- SEARCH BAR -->
  <div class="row">
    <div class="col-xs-6">

      <div class="search_students_wrap">
        <%= form_tag course_student_rosters_path(@course), method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Find a student", class: "form-control searchTerm" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>SELECT STUDENTS</h3>
      <% if @search %>
      <p><%= link_to "Clear search results",  course_student_rosters_path(@course) %></p>
      <% else %>
      <p>All Students</p>
      <% end %>
      <div>

      </div>

      <div class="students-select-box scroll-vertical">
        <%= render 'create', students: @students, course: @course %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="student-roster">
       <h3>STUDENTS REGISTERED FOR <%= @course.name.upcase %> </h3>
       <p>Course Capacity:   Min (<strong><%= @course.min_capacity %></strong>) | Max (<strong><%= @course.max_capacity %></strong>)</p>
       <p> <%= render 'student_index', students: @students, course: @course %> </p>
     </div>
   </div>
 </div>
</div>

<div ID="flashes"></div>
