<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %> BASA
    </title>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Roll Call</title>
    <!-- Search Engine -->
    <meta name="description" content="This is where my description goes">
    <meta name="image" content="https://www.roll-call.com/img">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Roll Call">
    <meta itemprop="description" content="This is where my description goes">
    <meta itemprop="image" content="https://www.roll-call.com/img">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Roll Call">
    <meta name="twitter:description" content="This is where my description goes">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Roll Call">
    <meta name="og:description" content="This is where my description goes">
    <meta name="og:image" content="https://www.roll-call.com/img">
    <meta name="og:url" content="https://www.roll-call.com">
    <meta name="og:site_name" content="Roll Call">
    <meta name="og:type" content="website">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
